<!DOCTYPE html>
<html ng-app ng-csp>
<head>
  <title>My Tasks</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="data/css.css">
  <script src="data/angular.min.js"></script>
  <script src="data/appng.js"></script>
</head>
<body>
  <div class="content wrapper" ng-controller="TodoCtrl">
    <div class="header">
      <h1>My Tasks</h1>
      <form id="new-todo-wrapper" ng-submit="addTodo() || save()">
        <input type="text" placeholder="Enter a new task ..." id="new-todo" ng-model="todoText"></input>
        <button type="submit" class="button" id="todo-submit">Add task</button>
      </form>
    </div>
    <ul id="todo-list">
	  <li ng-repeat="todo in todos">
	    <label><input type="checkbox" ng-click="archive()" ng-model="todo.done" ng-change="save()">{{todo.text}}</label>
	  </li>
	</ul>
  </div>
</body>
</html>